<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDao" class="cn.zturing.bos.dao.GenericDaoImpl">
        <constructor-arg index="0" type="java.lang.String" value="cn.zturing.bos.domain.UserEntity" />
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="standardDao" class="cn.zturing.bos.dao.GenericDaoImpl">
        <constructor-arg index="0" type="java.lang.String" value="cn.zturing.bos.domain.BcStandardEntity" />
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="staffDao" class="cn.zturing.bos.dao.GenericDaoImpl">
        <constructor-arg index="0" type="java.lang.String" value="cn.zturing.bos.domain.BcStaffEntity" />
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="regionDao" class="cn.zturing.bos.dao.GenericDaoImpl">
        <constructor-arg index="0" type="java.lang.String" value="cn.zturing.bos.domain.BcRegionEntity" />
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
</beans>
